# SPDX-License-Identifier: GPL-2.0-or-later

# This file is used to remap configuration files that has been
# renamed, except simple renames that are taken care automatically
# like:
#   .../file.cfg          ==>   .../${vendor}/file.cfg
#   .../vendor-file.cfg   ==>   .../vendor/file.cfg
#   .../vendor_file.cfg   ==>   .../vendor/file.cfg
#
# The formatting below is a TCL dict, so pairs of key-value
# in a simple TCL list, using for each line
#   old_name   new_name
# including in each name one of the prefix folder between
# board, chip, cpld, cpu, fpga, interface, target, test, tools

set _file_renaming {
	board/nordic_nrf51822_mkit.cfg	board/nordic/nrf51822-mkit.cfg
	board/nordic_nrf51_dk.cfg		board/nordic/nrf51-dk.cfg
	board/nordic_nrf52_dk.cfg		board/nordic/nrf52-dk.cfg
	board/stm32mp13x_dk.cfg			board/st/stm32mp135f-dk.cfg
	board/stm32mp15x_dk2.cfg		board/st/stm32mp157f-dk2.cfg
	board/sifive-hifive1-revb.cfg		board/sifive/hifive1-rev-b.cfg
	interface/chameleon.cfg			interface/parport/chameleon.cfg
	interface/flashlink.cfg			interface/parport/flashlink.cfg
}
