#
# Digilent HS1
#
# The Digilent HS1 is a high-speed FT2232H-based adapter, compliant with the
# Xilinx JTAG 14-pin pinout.
# It does not support ARM reset signals (SRST and TRST) but can still be used for
# hardware debugging, with some limitations.
#
# http://www.digilentinc.com/Products/Detail.cfm?NavPath=2,395,922&Prod=JTAG-HS1
#

interface ft2232
ft2232_device_desc "Digilent Adept USB Device"
ft2232_layout digilent-hs1
ft2232_vid_pid 0x0403 0x6010
