#
# Luminary Micro Stellaris Evaluation Kits
#
# http://www.luminarymicro.com/products/evaluation_kits.html
#
# There are a number of evaluation kits for Stellaris Cortex-M3 chips.
# Currently they all bundle FT2232 based debug support.  When that is
# used (instead of an external adapter), use this config file in one
# of these two modes:
#
# - Eval board debug ... debug of the Stellaris chip via port A.
#
# - Other board debug ... same thing, but the board acts as a debug
#   adapter for another board (using a standard ARM JTAG connector).
#   The Stellaris chip stays in reset.
#
# Those support both JTAG and SWD.  SWD is an ARM-only two-wire debug
# protocol; in 2009, OpenOCD does not support SWD.
#
# Port B of the FT2232 chip is normally used as a serial link to the
# Stellaris chip.  On most boards (but not older LM3S811 eval boards),
# when SWD is used Port B may instead be used to read low-bandwidth
# "SWO trace" data, including so-called "printf style" output from
# firmware via the ITM module as well as profile data.
#

interface ft2232
ft2232_device_desc "Stellaris Evaluation Board"
ft2232_layout luminary_icdi
ft2232_vid_pid 0x0403 0xbcd9

