[submodule "tools/git2cl"]
	path = tools/git2cl
	url = https://git.savannah.nongnu.org/git/git2cl.git
[submodule "jimtcl"]
	path = jimtcl
	url = https://github.com/msteveb/jimtcl.git
[submodule "src/jtag/drivers/libjaylink"]
	path = src/jtag/drivers/libjaylink
	url = https://gitlab.zapb.de/libjaylink/libjaylink.git
