# SPDX-License-Identifier: GPL-2.0-or-later
#
# This adapter is integrated in to Radiona ULX3S board:
# 	board/radiona_ulx3s.cfg
# See schematics for the ft232r layout:
# https://github.com/emard/ulx3s/blob/master/doc/schematics_v316.pdf

adapter driver ft232r
adapter speed 1000
ft232r_vid_pid 0x0403 0x6015
ft232r_tck_num DSR
ft232r_tms_num DCD
ft232r_tdi_num RI
ft232r_tdo_num CTS
ft232r_trst_num RTS
ft232r_srst_num DTR
