aclocal.m4
autom4te.cache
build-aux
config.h*
config.log
config.status
configure
configure.gnu
.deps
doxy/
Doxyfile
INSTALL
*.la
libjaylink.pc
.libs
libtool
*.lo
m4/libtool.m4
m4/lt*.m4
Makefile
Makefile.in
*.o
stamp-h1
version.h
