# SPDX-License-Identifier: GPL-2.0-or-later

adapter driver dummy
jtag newtap tap0 cpu -irlen 2
jtag newtap tap1 cpu -irlen 2
target create tgt0 testee -chain-position tap0.cpu
target create tgt1 testee -chain-position tap1.cpu

target smp tgt0 tgt1

target smp tgt0

target smp tgt0 tgt0

shutdown
