# SPDX-License-Identifier: GPL-2.0-or-later

namespace import testing_helpers::*

adapter driver dummy
jtag newtap tap0 cpu -irlen 2
jtag newtap tap1 cpu -irlen 2
target create tgt0 testee -chain-position tap0.cpu
target create tgt1 testee -chain-position tap1.cpu

init

target smp tgt0 tgt1
check_matches on {tgt0 smp}
check_matches on {tgt1 smp}

target smp not_a_target
check_matches on {tgt0 smp}
check_matches on {tgt1 smp}

target smp tgt0
check_matches on {tgt0 smp}
check_matches off {tgt1 smp}

target smp tgt0 not_a_target
check_matches on {tgt0 smp}
check_matches off {tgt1 smp}

target smp tgt0
check_matches on {tgt0 smp}
check_matches off {tgt1 smp}

target smp tgt0 tgt0
check_matches on {tgt0 smp}
check_matches off {tgt1 smp}

target smp tgt1
check_matches on {tgt0 smp}
check_matches on {tgt1 smp}

target smp tgt0 tgt1
check_matches on {tgt0 smp}
check_matches on {tgt1 smp}

target smp tgt1
check_matches off {tgt0 smp}
check_matches on {tgt1 smp}

target smp tgt0 tgt1
check_matches on {tgt0 smp}
check_matches on {tgt1 smp}

target smp tgt0 tgt1
check_matches on {tgt0 smp}
check_matches on {tgt1 smp}

shutdown
