# SPDX-License-Identifier: GPL-2.0-or-later

#
# Digilent JTAG-HS3
#

adapter driver ftdi
adapter usb vid_pid 0x0403 0x6014
adapter usb product_name "Digilent USB Device"

# From Digilent support:
# The SRST pin is [...] 0x20 and 0x10 is the /OE (active low output enable)

ftdi layout_init 0x2088 0x308b
ftdi layout_signal nSRST -data 0x2000 -noe 0x1000
