#
# TinCanTools Flyswatter
#
# http://www.tincantools.com/product.php?productid=16134
#

echo "WARNING!"
echo "This file was not tested with real interface, it is based on schematics and code"
echo "in ft2232.c. Please report your experience with this file to openocd-devel"
echo "mailing list, so it could be marked as working or fixed."

interface ftdi
ftdi_device_desc "Flyswatter"
ftdi_vid_pid 0x0403 0x6010

ftdi_layout_init 0x0818 0x0cfb
ftdi_layout_signal nTRST -data 0x0010
ftdi_layout_signal nSRST -oe 0x0020
ftdi_layout_signal LED -data 0x0c00
