#
# Marvel SheevaPlug Development Kit
#
# http://www.marvell.com/products/embedded_processors/developer/kirkwood/sheevaplug.jsp
#

echo "WARNING!"
echo "This file was not tested with real interface, it is based on code in ft2232.c."
echo "Please report your experience with this file to openocd-devel mailing list,"
echo "so it could be marked as working or fixed."

interface ftdi
ftdi_device_desc "SheevaPlug JTAGKey FT2232D"
ftdi_vid_pid 0x9e88 0x9e8f
ftdi_channel 1

ftdi_layout_init 0x0608 0x0f1b
ftdi_layout_signal nTRST -data 0x0200
ftdi_layout_signal nSRST -noe 0x0400
