# SPDX-License-Identifier: GPL-2.0-or-later

#
# TIAO USB Multi-Protocol Adapter (TUMPA) Lite
#
# http://www.diygadget.com/tiao-usb-multi-protocol-adapter-lite-jtag-spi-i2c-serial.html
#

adapter driver ftdi
ftdi vid_pid 0x0403 0x8a99

ftdi layout_init 0x0038 0x087b
ftdi layout_signal nTRST -data 0x0020 -oe 0x0020
ftdi layout_signal nSRST -data 0x0010 -oe 0x0010
