# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2026 Silicon Laboratories Inc.
#
# Silicon Labs Series 2 targets. These target are usually branded as EFM32PG2x
# or EFR32xG2x (eg. EFM32PG28, EFR32MG27, ...).

source [find target/swj-dp.tcl]

if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME efm32
}

# Work-area is a space in RAM used for flash programming. By default use 2kB
if { [info exists WORKAREASIZE] } {
	set _WORKAREASIZE $WORKAREASIZE
} else {
	set _WORKAREASIZE 0x800
}

if { [info exists CPUTAPID] } {
	set _CPUTAPID $CPUTAPID
} else {
	# Cortex-M33 TAP IDs for Series 2
	if { [using_jtag] } {
		set _CPUTAPID 0x6ba00477
	} {
		set _CPUTAPID 0x6ba02477
	}
}

# Family group xg21 and xg22 has flash base address 0x00000000. The others has
# flash base address 0x08000000
if { [info exists FLASHBASE] } {
	set _FLASHBASE $FLASHBASE
} else {
	set _FLASHBASE 0x08000000
}

swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

adapter speed 1000

# DCI (Debug Control Interface) is accessible via MEM-AP 1
set _DCINAME $_CHIPNAME.dci
target create $_DCINAME mem_ap -dap $_CHIPNAME.dap -ap-num 1

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -dap $_CHIPNAME.dap

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 0

set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME efm32 $_FLASHBASE 0 0 0 $_TARGETNAME
flash bank userdata.flash efm32 0x0FE00000 0 0 0 $_TARGETNAME

if {![using_hla]} {
	# if srst is not fitted use SYSRESETREQ to perform a soft reset
	cortex_m reset_config sysresetreq

	$_TARGETNAME configure -event examine-fail {
		if [catch silabs_s2_dci_read_se_status errstr] {
			echo $errstr
		}
	}
}

# Debug Challenge Interface registers. See
#   https://docs.silabs.com/iot-security/1.2.2/series2-secure-debug/
#   https://docs.silabs.com/iot-security/1.2.2/efr32-dci-swd-programming/
set _DCI_REG_WDATA   0x1000
set _DCI_REG_RDATA   0x1004
set _DCI_REG_STATUS  0x1008
set _DCI_REG_ID      0x10FC

proc silabs_s2_dci_connect {} {
	global _DCINAME _DCI_REG_ID

	if [catch {$_DCINAME read_memory $_DCI_REG_ID 32 1} dciid] {
		return -code error "Failed to read DCIID"
	}
	if {$dciid != 0xdc11d} {
		return -code error "Failed to read correct DCIID (got $dciid)"
	}
	echo "Successfully connected to DCI"
}

proc silabs_s2_dci_read_status {} {
	global _DCINAME _DCI_REG_STATUS

	return [$_DCINAME read_memory $_DCI_REG_STATUS 32 1]
}

proc silabs_s2_dci_write_cmd {dci_write_word} {
	global _DCINAME _DCI_REG_WDATA

	for {set i 0} {$i < 100} {incr i} {
		set dcistatus [silabs_s2_dci_read_status]

		if {$dcistatus & 1} {
			echo "DCI WPENDING bit set, retrying"
			sleep 10
			continue
		}

		if {$dcistatus & 0x100} {
			echo "DCI RDATAVALID is set, can't write to DCIWRITE"
			return -1
		}

		$_DCINAME write_memory $_DCI_REG_WDATA 32 $dci_write_word
		return 0
	}

	echo "DCI write timeout"
	return -1
}

proc silabs_s2_dci_read_response {} {
	global _DCINAME _DCI_REG_RDATA

	for {set i 0} {$i < 100} {incr i} {
		set dcistatus [silabs_s2_dci_read_status]

		if {$dcistatus & 0x100} {
			return [$_DCINAME read_memory $_DCI_REG_RDATA 32 1]
		}

		echo "DCI RDATAVALID is not set, retrying"
		sleep 10
	}

	echo "DCI read timeout"
	return -1
}

proc silabs_s2_dci_device_erase {} {
	silabs_s2_dci_connect
	poll off

	silabs_s2_dci_write_cmd 8
	silabs_s2_dci_write_cmd 0x430F0000

	sleep 2000
	echo "Device erase command sent. Device should now be erased and debug should be available again after a reset"
	poll on
}

proc silabs_s2_dci_device_lock {} {
	echo "Attempting to activate debug lock..."

	silabs_s2_dci_connect
	poll off

	silabs_s2_dci_write_cmd 8
	silabs_s2_dci_write_cmd 0x430C0000

	set recvlen [silabs_s2_dci_read_response]

	if {$recvlen & 0xFFFF0000} {
		echo "command response was not OK, got $recvlen as command response. Can't continue."
		poll on
		return
	}

	sleep 100

	silabs_s2_dci_read_se_status
	poll on
}

proc silabs_s2_dci_read_se_status {} {
	silabs_s2_dci_connect
	poll off

	# Write len
	silabs_s2_dci_write_cmd 8

	# Write cmd
	silabs_s2_dci_write_cmd 0xFE010000

	set recvlen [silabs_s2_dci_read_response]

	if {$recvlen & 0xFFFF0000} {
		echo "command response was not OK, got $recvlen as command response. Can't continue."
		poll on
		return
	}

	set debuglock_idx 3

	if {$recvlen == 0x28} {
		set debuglock_idx 7
	}

	incr recvlen -4

	for {set i 0} {$recvlen > 0} {incr i} {
		set recvlen [expr {$recvlen - 4}]
		set sestatusarray($i) [silabs_s2_dci_read_response]
	}

	poll on

	echo "DCI SESTATUS response:"

	set debuglock $sestatusarray($debuglock_idx)

	if {$debuglock & 0x01} {
		echo "Debug lock (config): Enabled"
	} else {
		echo "Debug lock (config): Disabled"
	}

	if {$debuglock & 0x02} {
		echo "Device erase: Enabled"
	} else {
		echo "Device erase: Disabled"
	}

	if {$debuglock & 0x04} {
		echo "Secure debug: Enabled"
	} else {
		echo "Secure debug: Disabled"
	}

	if {$debuglock & 0x20} {
		poll off
		echo "Debug lock (hw status): Enabled"
		echo ""
		echo " * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *"
		echo "  You will not be able to communicate with this device"
		echo "  unless you perform a device erase (if available, indicated above)!"
		echo "  Try silabs_s2_dci_device_erase to attempt erase."
		echo " * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *"
	} else {
		echo "Debug lock (hw status): Disabled"
	}
}
