# SPDX-License-Identifier: GPL-2.0-or-later

# EPM11
# https://brisbanesilicon.com.au/epm11/

# Tested with the EPM11 board from BrisbaneSilicon.

adapter driver ftdi
adapter usb vid_pid 0x0403 0x6010

transport select jtag
adapter speed 5000

set CHIPNAME GW1NR-9C

source [find fpga/gowin_gw1n.cfg]
