# SPDX-License-Identifier: GPL-2.0-or-later
#
# Microchip DV22S07A OpenOCD Debug Probe
#
# https://www.microchip.com/en-us/development-tool/DV22S07A
#
# FT4232HQ-based JTAG debug probe.
# Channel A is dedicated to JTAG (2x10 IDC connector J2).
# 3.3V JTAG logic only (no level shifters).
#
# On Windows, the FT4232HQ Channel A interface requires a
# libusb-compatible driver (WinUSB, libusbK) to be used with
# OpenOCD. See the product page for installation instructions:
# https://www.microchip.com/en-us/development-tool/DV22S07A
#

adapter driver ftdi
adapter usb vid_pid 0x0403 0x6011
ftdi channel 0
ftdi layout_init 0x0038 0x003b
ftdi layout_signal nTRST -data 0x0010 -oe 0x0010
ftdi layout_signal nSRST -data 0x0020 -oe 0x0020
