#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst
jtag_speed 10

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
# 4 devices otherwise openocd complains, the last one returns 0x0 for all bytes
jtag_device 4 0x1 0x0 0xe
jtag_device 5 0x1 0x1f 0x1e
jtag_device 4 0x0 0x0 0xe
jtag_device 5 0x1 0x0 0x1e 

#target <type> <endianess> <reset mode>
target arm11 little reset_halt 1
run_and_halt_time 0 0

