# use combined on interfaces or targets that can't set TRST/SRST separately
reset_config srst_only

# jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag_device 7 0x1 0x7f 0x7e

# target configuration
target xscale big reset_init 0 ixp42x
run_and_halt_time 0 30

# maps to PXA internal RAM.  If you are using a PXA255
# you must initialize SDRAM or leave this option off
working_area 0 0x00020000 0x10000 nobackup

# flash bank <driver> <base> <size> <chip_width> <bus_width>
#flash bank cfi 0x50000000 0x1000000 2 4 0 





