# SPDX-License-Identifier: GPL-2.0-or-later

# Holtek e-Link32 Pro/Lite in-circuit debugger/programmer
#
# CMSIS-DAP class adapter. Known USB VID:PID pairs:
#   0x04d9:0x802f  e-Link32 Pro
#   0x04d9:0x8052  e-Link32 Lite

source [find interface/cmsis-dap.cfg]
adapter usb vid_pid 0x04d9 0x802f 0x04d9 0x8052
