#
# Spansion FM4 S6E2CC (ARM Cortex-M4)
#

source [find target/fm4.cfg]

# S6E2CC8 H/J/L have 96 KB SRAM0
if { [info exists WORKAREASIZE] } {
	set _WORKAREASIZE $WORKAREASIZE
} else {
	set _WORKAREASIZE 0x18000
}

$_TARGETNAME configure -work-area-phys [expr 0x20000000 - $_WORKAREASIZE] \
                       -work-area-size $_WORKAREASIZE -work-area-backup 0
