# SPDX-License-Identifier: GPL-2.0-or-later

#
# SpacemiT Key Stone K1 target
#
# https://www.spacemit.com/products/keystone/k1
#

transport select jtag
adapter speed 2000

if { [info exists SPEED] } {
    set _SPEED $SPEED
} else {
    set _SPEED 8000
}

if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME k1
}

# Set TARGET to "rcpu" to enable JTAG for RCPU
if { [info exists TARGET] } {
    set _TARGET $TARGET
} else {
    set _TARGET x60
}

if { $_TARGET == "rcpu" } {
    set _CPUTAPID 0x10308A6D
    set _DRVAL 0xe
} else {
    set _CPUTAPID 0x10000E21
    set _DRVAL 0xa
}

if { [info exists CLUSTERS] } {
    set _CLUSTERS $CLUSTERS
} else {
    set _CLUSTERS {0 1}
}

for {set i 0} {$i < 2} {incr i} {
    if { [info exists CLUSTER${i}_COREIDS] } {
        set _CLUSTER${i}_COREIDS [set CLUSTER${i}_COREIDS]
    } else {
        set _CLUSTER${i}_COREIDS {0 1 2 3}
    }
}

if { [info exists SECJTAG] } {
    set _SECJTAG $SECJTAG
} else {
    set _SECJTAG 0
}

if { $_SECJTAG == 1 } {
    jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_CPUTAPID
} else {
    jtag newtap pre unknown -irlen 1 -expected-id 0x00000000 -disable
    jtag configure pre.unknown -event tap-enable ""

    jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_CPUTAPID -disable
    jtag configure $_CHIPNAME.cpu -event tap-enable ""

    jtag newtap post unknown -irlen 9 -expected-id 0x08501C0D -ignore-version

    jtag configure post.unknown -event setup {
        global _CHIPNAME _DRVAL

        irscan post.unknown 0x98
        drscan post.unknown 16 $_DRVAL

        jtag tapenable pre.unknown
        jtag tapenable $_CHIPNAME.cpu
    }
}

set _TARGETNAME $_CHIPNAME.$_TARGET
if { $_TARGET == "rcpu" } {
    target create $_TARGETNAME riscv -chain-position $_CHIPNAME.cpu
} else {
    set _smp_command "target smp"
    foreach cluster $_CLUSTERS {
        if { $cluster > 2 } {
            echo [format "Warning: x60 cluster %u is out of range (0..1), it will be ignored" $cluster]
            continue
        }

        set dbgbase [expr {$cluster * 0x400}]
        foreach coreid [set _CLUSTER${cluster}_COREIDS] {
            if { $coreid >= 4 } {
                echo [format "Warning: x60 cpu index %u is out of range (0..3), it will be ignored" $coreid]
                continue
            }
            set hartid [expr {$cluster * 4 + $coreid}]
            target create $_TARGETNAME.$hartid riscv -chain-position $_CHIPNAME.cpu \
                -coreid $coreid -dbgbase $dbgbase

            if { $hartid == 0 } {
                $_TARGETNAME.$hartid configure -rtos hwthread
            }

            set _smp_command "$_smp_command $_TARGETNAME.$hartid"
        }
    }
    eval $_smp_command
}

[target current] configure -event examine-end {
    adapter speed $_SPEED
    puts [ adapter speed ]
    puts [ targets ]
}
