#
# STM32f0x stlink pseudo target
#

if { [info exists CHIPNAME] == 0 } {
   set CHIPNAME stm32f0x
}

if { [info exists CPUTAPID] == 0 } {
   set CPUTAPID 0x0bb11477
}

if { [info exists WORKAREASIZE] == 0 } {
   set WORKAREASIZE 0x1000
}

source [find target/stm32_stlink.cfg]

# stm32f0x family uses stm32f1x driver
set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME stm32f1x 0 0 0 0 $_TARGETNAME
