source [find c100.cfg]

# boots from NOR on CS0:  8 MBytes CFI flash, 16-bit bus
# it's really 16MB but the upper 8mb is controller via gpio?
flash bank cfi 0x20000000 0x01000000 2 2 $_TARGETNAME

# 
gdb_memory_map enable

