# SPDX-License-Identifier: GPL-2.0-or-later
#
# Configuration for the Qualcomm Agatti platform (e.g. QRB2210, QCM2290)

if { [info exists CHIPNAME] } {
   set _CHIPNAME $CHIPNAME
} else {
   set _CHIPNAME AGATTI
}

set _CPU0_DBG_BASEADDR 0x09010000
set _CPU1_DBG_BASEADDR 0x09110000
set _CPU2_DBG_BASEADDR 0x09210000
set _CPU3_DBG_BASEADDR 0x09310000

set _CTI0_BASEADDR 0x09020000
set _CTI1_BASEADDR 0x09120000
set _CTI2_BASEADDR 0x09220000
set _CTI3_BASEADDR 0x09320000

source [find target/qualcomm/common.cfg]

target smp \
        $_CHIPNAME.cpu0 \
        $_CHIPNAME.cpu1 \
        $_CHIPNAME.cpu2 \
        $_CHIPNAME.cpu3
