# SPDX-License-Identifier: GPL-2.0-or-later
#
# Common configuration for most Qualcomm arm64 SoCs

source [find target/swj-dp.tcl]

if { ![info exists _CHIPNAME] } {
    if { [info exists CHIPNAME] } {
        set _CHIPNAME $CHIPNAME
    } else {
        set _CHIPNAME FIXME_CHIPNAME
    }
}

if { [info exists ENDIAN] } {
    set _ENDIAN $ENDIAN
} else {
    set _ENDIAN little
}

adapter speed 7500
reset_config trst_and_srst

# Set CUP TAP ID based on protocol selection
if { [using_jtag] } {
    set _CPUTAPID 0x5ba00477
} else {
    set _CPUTAPID 0x5ba02477
}

swj_newdap $_CHIPNAME cpu -expected-id $_CPUTAPID -irlen 4

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu -ignore-syspwrupack

# AHB
target create ${_CHIPNAME}.axi mem_ap -dap ${_CHIPNAME}.dap -ap-num 0
# APB
target create ${_CHIPNAME}.apb mem_ap -dap ${_CHIPNAME}.dap -ap-num 1

if { ![info exists _CTI0_BASEADDR] && [info exists _CTI_BASEADDR] } {
   set _CTI0_BASEADDR $_CTI_BASEADDR
}

for { set _core 0 } { $_core < 4 } { incr _core } {
   if { ![info exists _CPU${_core}_DBG_BASEADDR] } {
      continue
   }
   if { ![info exists _CTI${_core}_BASEADDR] } {
      continue
   }

   set _TARGETNAME $_CHIPNAME.cpu$_core
   set _CTINAME $_CHIPNAME.cti$_core
   set _DBG_BASEADDR [set _CPU${_core}_DBG_BASEADDR]
   set _CTI_BASEADDR [set _CTI${_core}_BASEADDR]

   cti create $_CTINAME -dap $_CHIPNAME.dap -baseaddr $_CTI_BASEADDR -ap-num 1

   if { $_core == 0 } {
      target create $_TARGETNAME aarch64 -endian $_ENDIAN -dap $_CHIPNAME.dap -coreid $_core \
         -ap-num 1 \
         -cti $_CTINAME \
         -dbgbase $_DBG_BASEADDR \
         -event reset-assert-post { dap init }
      $_TARGETNAME configure -event examine-end "$_TARGETNAME arp_halt; $_TARGETNAME arp_waitstate halted 1000"
   } else {
      target create $_TARGETNAME aarch64 -endian $_ENDIAN -dap $_CHIPNAME.dap -coreid $_core \
         -ap-num 1 \
         -cti $_CTINAME \
         -dbgbase $_DBG_BASEADDR \
         -defer-examine
   }
}

# Default breakpoints to hardware breakpoints
gdb breakpoint_override hard
