# SPDX-License-Identifier: GPL-2.0-or-later

# Qorvo PAC55xx series: ARM Cortex-M4 @ 150 MHz
# Devices support SWD transport only

transport select swd

source [find target/swj-dp.tcl]

if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME pac55xx
}

if { [info exists CPUTAPID] } {
    set _CPUTAPID $CPUTAPID
} else {
    set _CPUTAPID 0x2ba01477
}

if { [info exists WORKAREASIZE] } {
    set _WORKAREASIZE $WORKAREASIZE
} else {
    set _WORKAREASIZE 0x8000
}

swj_newdap $_CHIPNAME cpu -irlen 4 -expected-id $_CPUTAPID
dap create $_CHIPNAME.dap -tap $_CHIPNAME.cpu

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -dap $_CHIPNAME.dap

adapter speed 1000

$_TARGETNAME configure \
    -work-area-phys 0x20000000 \
    -work-area-size $_WORKAREASIZE \
    -work-area-backup 0

flash bank $_CHIPNAME.flash pac55xx 0x00000000 0 0 0 $_TARGETNAME

reset_config none srst_nogate
cortex_m reset_config sysresetreq
