# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD configuration file for ESP32-S3 connected via ESP USB Bridge board
#
# For example, OpenOCD can be started for ESP32-S3 debugging on
#
#   openocd -f board/esp32s3-bridge.cfg
#

# Source the JTAG interface configuration file
source [find interface/esp_usb_bridge.cfg]
# ESP32S3 chip id defined in the idf esp_chip_model_t
espusbjtag chip_id 9
# Source the ESP32-S3 configuration file
source [find target/esp32s3.cfg]
