# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD configuration file for ESP32-C2 connected via ESP USB Bridge board
#
# For example, OpenOCD can be started for ESP32-C2 debugging on
#
#   openocd -f board/esp32c2-bridge.cfg
#

# Source the JTAG interface configuration file
source [find interface/esp_usb_bridge.cfg]
# ESP32C2 chip id defined in the idf esp_chip_model_t
espusbjtag chip_id 12
# Source the ESP32-C2 configuration file
source [find target/esp32c2.cfg]
