# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD configuration file for ESP32-C3 connected via ESP-Prog.
#
# For example, OpenOCD can be started for ESP32-C3 debugging on
#
#   openocd -f board/esp32c3-ftdi.cfg
#

# Source the JTAG interface configuration file
source [find interface/ftdi/esp_ftdi.cfg]
# Source the ESP32-C3 configuration file
source [find target/esp32c3.cfg]
