# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD configuration file for ESP32-C61 connected via ESP USB Bridge board
#
# For example, OpenOCD can be started for ESP32-C61 debugging on
#
#   openocd -f board/esp32c61-bridge.cfg
#

# Source the JTAG interface configuration file
source [find interface/esp_usb_bridge.cfg]
# ESP32C61 chip id defined in the idf esp_chip_model_t
espusbjtag chip_id 20
# Source the ESP32-C61 configuration file
source [find target/esp32c61.cfg]
