# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD configuration file for ESP32-C6 + LP core connected via ESP-Prog.
#
# For example, OpenOCD can be started for ESP32-C6 + LP core debugging on
#
#   openocd -f board/esp32c6-lpcore-ftdi.cfg
#

# Source the JTAG interface configuration file
source [find interface/ftdi/esp_ftdi.cfg]
# Source the ESP32-C6 configuration file
source [find target/esp32c6-lpcore.cfg]
