# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024 Texas Instruments Incorporated - http://www.ti.com/
#
# Texas Instruments AM62A7
# Link: https://www.ti.com/product/AM62A7
#
# This configuration file is used as a self hosted debug configuration that
# works on every AM62A7 platform based on firewall configuration permitted
# in the system.
#
# In this system openOCD runs on one of the CPUs inside AM62A7 and provides
# network ports that can then be used to debug the microcontrollers on the
# SoC - either self hosted IDE OR remotely.

# We are using dmem, which uses dapdirect_swd transport
adapter driver dmem

if { ![info exists SOC] } {
	set SOC am62a7
}

source [find target/ti_k3.cfg]
