# SPDX-License-Identifier: GPL-2.0-or-later
# Cadence virtual debug interface
# Arm Cortex m4 through DAP

source [find interface/vdebug.cfg]

set _CHIPNAME m4
set _MEMSTART 0x00000000
set _MEMSIZE 0x10000

# vdebug select transport
transport select dapdirect_swd
adapter speed 25000
adapter srst delay 5

# BFM hierarchical path and input clk period
vdebug bfm_path tbench.u_vd_swdp_bfm 20ns

# DMA Memories to access backdoor (up to 4)
vdebug mem_path tbench.u_mcu.u_sys.u_rom.rom $_MEMSTART $_MEMSIZE

source [find target/swj-dp.tcl]

swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf

source [find target/vd_cortex_m.cfg]
