# SPDX-License-Identifier: GPL-2.0-or-later

# Digilent Genesys 2 with AMD Kintex 7 FPGA
# https://digilent.com/reference/programmable-logic/genesys-2/

adapter driver ftdi
adapter speed 30000

adapter usb product_name "Digilent Adept USB Device"
adapter usb vid_pid 0x0403 0x6010

# Channel 0 is dedicated for Digilent's DPTI Interface
# Channel 1 is used for JTAG
ftdi channel 1

ftdi layout_init 0x0088 0x008b

# Enable sampling on falling edge for high JTAG speeds.
ftdi tdo_sample_edge falling

transport select jtag

source [find fpga/xlnx/xc7.cfg]
source [find cpld/jtagspi.cfg]

reset_config none
