# SPDX-License-Identifier: GPL-2.0-or-later

# Altium Universal JTAG cable. Set the cable to Xilinx Mode and wire to target as follows:
#
# HARD TCK - Target TCK
# HARD TMS - Target TMS
# HARD TDI - Target TDI
# HARD TDO - Target TDO
# SOFT TCK - Target TRST
# SOFT TDI - Target SRST

adapter driver parport

adapter gpio tdo 13 -exit-inactive
adapter gpio trst 7 -active-high -exit-inactive
adapter gpio tms 4 -exit-inactive
adapter gpio tck 3 -exit-inactive
adapter gpio tdi 2 -exit-inactive
adapter gpio srst 9 -active-high -exit-inactive
adapter gpio led 5 -exit-inactive

# Non-JTAG signal that is only necessary for the functionality of the adapter.
# For details, refer to the documentation of the adapter.
adapter gpio user0 6 -init-active -exit-inactive

transport select jtag
